.ork-table {
    border: 1px solid #ced4da;
    border-radius: 7px;
    border-collapse: collapse;
}

.ork-table-row {
    border-bottom: 1px solid #e0e0e0;
}

.ork-table-head-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.ork-table-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}