    .ork-form-field-wrapper {
        width: 200px;
        line-height: 18px;
        padding-bottom: 20px;
        text-align: left;
    }
    
    .ork-form-field {
        display: inline-flex;
        width: 175px;
    }
    
    .ork-input-icon {
        font-size: 16px;
    }
    
    .material-icons.md-16 {
        font-size: 16px;
    }
    
    .ork-form-filed-input {
        display: inline-flex;
        align-items: baseline;
        box-sizing: border-box;
        width: 100%;
    }
    
    .ork-form-field-icon {
        white-space: nowrap;
        flex: none;
        position: relative;
        font-size: 16px;
    }
    
    .ork-form-underline {
        height: 1px;
        color: #2c2c2c;
        background-color: #2c2c2c;
        width: 100%;
    }
    
    .ork-table-header {
        font-size: 10px;
        color: #888888;
        text-align: center;
    }
    
    .ork-table-header>th {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .datepicker-input {
        width: 175px;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgba(0, 0, 0, 0.87);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgba(0, 0, 0, 0.87);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgba(0, 0, 0, 0.87);
        border-top-style: none;
        border-top-width: 0px;
    }
    
    .dialog-table {
        width: 100%;
    }
    
    .date-dialog {
        width: 300px;
        padding-top: 15px;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        height: 350px;
        border-radius: 2px;
    }
    
    .ork-table-header-divider {
        position: relative;
        height: 1px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0px;
            right: 0px;
            height: 300px;
          }
    }
    
    .ork-table-header-divider:after {
        background-attachment:scroll;
        background-clip:border-box;
        background-color:rgba(0, 0, 0, 0.12);
        background-image:none;
        background-origin:padding-box;
        background-position-x:0%;
        background-position-y:0%;
        background-size:auto;
        position: absolute;
        top: 0;
        height: 1px;
    }

    .ork-date-cell {
        line-height: 0;
        text-align: center;
        height: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dialog-month {
        padding-bottom: 3px;
        padding-top: 3px;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }
    
    .arrow-left {
        float: left;
        margin-top: 1px;
        margin-bottom: 0;
        margin-left: 2px;
    }
    
    .arrow-right {
        float: right;
        margin-top: 1px;
        margin-bottom: 0;
        margin-right: 2px;
    }
    
    .month-navigation {
        display: inline;
    }
    
    input:focus {
        outline: none;
    }